body {
  margin: 0;
  padding: 0;
}

.articles, .article-show, .tweets, .instructions {
  margin-top: 75px;
}

.articles {
  overflow: scroll;
  position: fixed;
  top: 0;
  bottom: 0%;
  width: 30%;
}

.abstract {
  font-size: 17px;
}

.article-map {
  position: fixed;
  top: 50%;
  bottom: 0;
  left: 33%;
  width: 33%;
  margin-bottom: 10px;
}

.tweets {
  overflow: scroll;
  position: fixed;
  top: 0;
  bottom: 0%;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 15px;
}

.user-image {
  display: inline-block;
  float: left;
  margin: 13px 15px 0 0;
  height: 100%;
}

.user-tweet {
  display: inline-block;
  width: 300px;
}

td {
  padding-top: 0;
}
