body {
  margin: 0;
  padding: 0;
  background-color: #2c3e50;
}

.heading {
  padding-left: 30px;
}

.title {
  font-family: 'PT Serif Caption', serif;
  padding-left: 75px;
  padding-top: 5px;
}

.articles, .tweets, .instructions {
  margin-top: 75px;
}

.instructions {
  color: white;
  margin-left: 50px;
  margin-top: 50px;
}

.articles {
  overflow: scroll;
  position: fixed;
  top: 0;
  width: 30%;
  bottom: 0%;
}

.abstract {
  font-size: 17px;
  color: #fff;
}

.article-map {
  position: fixed;
  top: 50%;
  bottom: 0;
  left: 33%;
  width: 33%;
  margin-bottom: 20px;
}

.article-show {
  margin-top: -20px;
}

.article-show h3 {
  font-family: 'PT Serif Caption', serif;
  font-size: 25px;
}

.tweets {
  overflow: scroll;
  position: fixed;
  top: 0;
  bottom: 0%;
  margin-bottom: 20px;
}

.tweet-count {
  color: white;
}

a {
  color:white;
}

.article-show a:hover{
  color:#BABDBF;
  text-decoration:none;
}

.article-show a:visited{
  color:white;
  text-decoration:none;
  text-decoration:none;
}



i {
  font-size: 20px;
  float: left;
  color: white;
}

h1 {
  color:white;
  margin: 10px 0 20px 0;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 15px;
}

.instructions-title {
  font-size: 25px;
}

.guide, .prepend-guide {
  font-size: 18px;
}

.user-image {
  display: inline-block;
  float: left;
  margin: 13px 15px 0 0;
  height: 100%;
}

.user-tweet {
  display: inline-block;
  width: 300px;
}

td {
  padding-top: 0;
}

.well {
  background-image: url("images/newspaper_man.jpg");
  no-repeat center center;
  width: 862px;
  height: 612px;
}

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
