<div class="col-md-6">
  <div class="article-show">
    <h3>{{model.title}}</h3>
    <p>{{model.abstract}}</p>
  </div>

  {{article-map article=model}}
</div>

<div class="col-md-6">
  {{article-tweets tweets=model.tweets}}
</div>
