<div class="col-md-4">
  <h1 id="title">Up to the Tweet News</h1>
  <div class="list-group">
    {{#each model as |article|}}
      {{#link-to 'article' article class="list-group-item"}}
        <h4 class="list-group-item-heading">{{article.title}}</h4>
      {{/link-to}}
    {{/each}}
  </div>
</div>

<div class="col-md-8">
  {{outlet}}
</div>
