<div class="col-md-4">
  <div class="article-show">
    <h3>{{model.title}}</h3>
    <p>{{model.abstract}}</p>
  </div>

  <div id="map"></div>

  <script>
      </script>

</div>

{{render 'tweets' model.tweets}}

