<div class="col-md-4">
  <h1 id="title">Up to the Tweet News</h1>
  <div class="articles">
    <div class="panel panel-default">
      <table class="table">
        <tbody>
          {{#each model as |article|}}
            <tr>
              <td>
                <h2>{{#link-to 'article' article}} {{article.title}} {{/link-to}}</h2>
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>
{{outlet}}
