<div class="col-md-4">
  <div class="tweets">
    <div class="panel panel-default">
      <table class="table">
        <tbody>
          {{#each model as |tweet|}}
          <tr>
            <td>
              <div class="user-image">
                <img {{bindAttr src="tweet.userProfileImage"}}>
              </div>
              <div class="user-tweet">
                <h4>{{tweet.username}}</h4>
                {{tweet.body}}
              </div>
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>
