<div class="col-md-4">
  <div class="tweets">
    <div class="panel panel-default">
      <table class="table">
        <tbody>
          {{#each model as |tweet|}}
            <tr>
              <td>
                <p>{{tweet.body}}</p>
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>
